
.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--navbar-background-color);
    color: var(--navbar-text-color);
    height: 12vmin;
    border-bottom: 3px solid var(--accent-color);
    min-height: fit-content;
    z-index: 1;
    padding: 0;
    margin: 0;
}

.header-title {
    justify-self: center;
    font-size: 2rem;
}

.header-button {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    min-height: 30px;
    max-height: 40px;
    font-size: 0px; /* Hide text */
    justify-content: center;
    border-radius: 8px; 
    background-color: transparent;
    border: 0px;
}

.header-button:hover {
    transform: scale(1.1);
}

.header-button img {
    margin: 0;
    height: 4.0vh;
    max-width: 13vw;
    max-height: 40px;
    border: 0px hidden;
    border-radius: 8px; 
    padding: 5px;
    background-color: transparent;
    filter: invert(1);
}

.header-button-text {
    display: none;
}

@media (max-width: 768px) {
    .header-container {
        height: 8vh;
        background-color: var(--navbar-background-color);
    }
    .header-button img {
        padding: 0.5vh;
    }
    .header-title {
        font-size: 1.5rem;
        padding: 0.8vh;
    }
    .header-spacer {
        display: none;
    }
}