/* Pop-up box */
.stats-popup {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: white;
    border: 2px solid var(--navbar-background-color);
    border-radius: 10px;
    width: max-content;
    height: auto;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.5s ease-in-out;
    z-index: 2000;
}

/* Dragging behavior */
.stats-popup:active {
    cursor: grabbing;
}

.stats-tab {
    display: flex;
    height: 30px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    gap: 8px;
    background-color: var(--navbar-background-color);
    color: white;
    padding-right: 15px;
    border: 1px solid var(--accent-color);;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.minimize-btn {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

.stats-content {
    padding-top: 20px;
    padding-inline: 15px;
    text-align: left;
}

.display-costs-switch {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.display-costs-switch input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: gray;
}