* {
  margin: 0;
  padding: 0;
}

/* Fonts */
:root {
  --default-font: Garamond, monospace;
}

/* Colors */
:root {
  --navbar-background-color: #31363F;
  --navbar-text-color: white;
  --background-color: #E9F0F3;
  --accent-color: #EA857A;
  --contrast-color: #31363F;
  --default-color: black;
  --grid-color: #f8f5ec;
  --visited-color: #C3CFD7;
  --path-color: #EA857A;
}

html {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family: var(--default-font);
  overflow: visible;
  position: relative;
  z-index: 1;
  background-color: var(--navbar-background-color);
}

